<nav id="nav-bar">
    <div>
        <a href="/"><img class="background-blackshadows" id="logo" type="image" src="/public/images/logo.svg" alt="Home"
                width="45" height="15"></a>
    </div>
    <div style="flex: 3 3 500px;">
        <input id="search-text" type="text" name="search-text">
    </div>
    <div>
        <input class="background-blackshadows" id="search-button" type="image" src="/public/images/magnifying_glass.svg"
            alt="Home" width="35" height="35">
    </div>
    <div>
        <a href="/postimage" class="background-blackshadows" id="post-button">Post</a>
    </div>
    <div>
        {{#if logged}}
        <a class="background-blackshadows" id="logout-button">Logout</a>
        {{else}}
        <a href="/login" class="background-blackshadows" id="login-button">Login</a>
        {{/if}}
    </div>
</nav>

<script>
    // Copied from https://www.w3schools.com/howto/howto_js_trigger_button_enter.asp
    // Get the input field
    var input = document.getElementById("search-text");

    // Execute a function when the user releases a key on the keyboard
    input.addEventListener("keyup", function (event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("search-button").click();
        }
    });
</script>