<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel="stylesheet" type="text/css" href="public/css/home.css">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <link rel="stylesheet" type="text/css" href="public/css/nav.css">
    <script defer src="public/js/nav.js"></script>
    <script defer src="public/js/home.js"></script>
    <script defer src="public/js/formValidation.js"></script>
</head>

<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>

</html>