<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>View Image</title>
</head>
<body>
    <div class="box-shadow-dark grid-post">
        <h2 class="grid-3cols">Title:</h2>
        <h3 class="grid-3cols">Author:</h3>
        <h4 class="grid-3cols">Time of Post:</h4>
        <h4 class="grid-3cols">Image:</h4>
        <img class="grid-image" src="https://fakeimg.pl/600/" alt="This is a placeholder image." />
    </div>
</body>
</html>