.grid-form {
    background-color: #fef3eb;
    max-width: 750px;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 140px 140px 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
}

.grid-post {
    margin: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 0.5rem;
}

.grid-label {
    text-align: center;
    padding: 0.3em;
    grid-column-start: 1;
    grid-column-end: 2;
    /* border: 2px solid black; */
    border-radius: 5px;
}

.grid-input {
    padding: 0.3em;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: white;
    border-radius: 5px;
}

.grid-3cols {
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid-1col {
    margin: 4px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-postpage,
.grid-validationbox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.grid-comments {
    align-items: start;
    grid-column-start: 2;
    grid-column-end: 3;
}

.flex-container-vertical {
    display: flex;
    flex-flow: column nowrap;
}

.flex-container-horizontal {
    margin: 3px;
    display: flex;
    flex-flow: row wrap;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.margin-5px {
    margin: 5px;
}

#comments-display {
    overflow-y: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
    scroll-behavior: smooth;
    border: 1px solid #cccccc;
    border-radius: .35rem;
}

div[id^=message-] {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.2 em;
    padding: 0.25rem;
    margin: 0.2rem;
    font-size: 1rem;
    border: 0.0625rem solid #dddddd;
    border-radius: 0.25rem;
    grid-template-areas:
    "author created"
    "comment comment";
}

.author-text {
    grid-area: author;
    justify-self: start;
    color: blue;
}

.comment-text {
    grid-area: comment;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 45px;
    min-height: 45px;
}

.date-posted {
    grid-area: created;
    justify-self: right;
}

#input-comment {
    font-size: large;
    outline:none;
    border:none;
    margin-right: 3px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    height: 25px;
}

#usernameValidationBox,
#emailValidationBox,
#passwdValidationBox,
#cpasswdValidationBox {
    grid-column-start: 2;
    grid-column-end: 4;
}

#submitbutton {
    font-size:2ch;
    border-radius: 5px;
    height: 2em;
    border: 2px outset rgb(199, 255, 199);
    background-color: lightgreen;
}

#submitbutton:hover {
    background-color: lime;
}

#submitbutton:active {
    border: 2px inset lime;
}

#cancelbutton {
    font-size:2ch;
    border-radius: 5px;
    height: 2em;
    border: 2px outset rgb(255, 184, 156);
    background-color: rgb(253, 116, 62);
}

#cancelbutton:hover {
    background-color: red;
}

@media screen and (max-width: 350px) {
    .grid-form {
        grid-template-columns: 1fr;
        gap: 0.1em;
    }

    .grid-post {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .grid-label {
        text-align: center;
        padding: 0.2em;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .grid-input,
    .grid-3cols,
    .grid-image,
    #usernameValidationBox,
    #emailValidationBox,
    #passwdValidationBox,
    #cpasswdValidationBox {
        padding: 0.2em;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}