#img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 300px;
    gap: 0.5em;
    margin: 10px;
}

.grid-card {
    display: grid;
    opacity: 1;
    transition: opacity 0.5s;
}

.grid-card.fade {
    opacity: 0;
}

.grid-card.nofade {
    opacity: 1;
}

.txt-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}