nav {
    background-color: #364b59;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px;
}

nav>div {
    margin: 5px;
    background-color: #d5c3c8;
    border-radius: 5px;
}

nav>div:hover {
    background-color: white;
}

.full-width-link a {
    display: block;
    height: 100%;
}

#search-text {
    font-size: large;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    background-color: #d5c3c8;
    margin: 0px;
    padding: 5px;
    height: 30px;
}

#logo, #search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    height: 30px;
    margin: 0;
    padding: 5px;
}

#post-button, #login-button, #logout-button {
    font: 25px bold;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 5px;
    margin: 0;
}

#search-text:hover, #post-button:hover, #login-button:hover, #logo:hover, #search-button:hover, #logout-button:hover {
    background-color: white;
}