* {
  font-family: Garamond;
  box-sizing: border-box;
}

body {
  /* width: 90%; */
  margin: auto;
  background-color: #7494AA;
  /* max-width: 800px; */
}

header {
  text-align: center;
  margin-bottom: 1em;
}

img {
  display:block;
}

.background-lightgrey {
  border-radius: 3px;
  /* border: 1px solid #dddddd; */
  background-color: #dddddd;
}

.background-blackshadows {
  border-radius: 3px;
  /* border: 1px solid #dddddd; */
  background-color: #d5c3c8;
}

.box-shadow-light {
  border-radius: 10px;
  border: 2px solid #bbbbbb;
  box-shadow: 2px 2px 5px #cccccc;
}

.box-shadow-dark {
  border-radius: 10px;
  border: 2px solid #555555;
  box-shadow: 2px 2px 5px #999999;
  padding: 10px;
  margin-top: 10px;
}

.img-size-250 {
  max-width: 250px;
  max-height: 250px;
}

.img-size-auto {
  max-width: 100%;
}

#flash-message {
  position: fixed;
  left: 50%;
  top: 6%;
  transform: translate(-50%,0);
  z-index: 9999;
}

#flash-message div {
  text-align: center;
}

#flash-error {
  background-color: pink;
  border-radius: 10px;
  padding: 10px;
}

#flash-success {
  background-color: rgb(164, 216, 199);
  border-radius: 10px;
  padding: 10px;
}

#banner {
  text-align: center;
  padding: 25px;
  background-color: #364b59;
}

#banner-text {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 7px;
  background-color: #364b59;
  color: white;
  font-size:medium;
}

#email-link {
  color: rgb(149, 181, 202);
  padding-left: 1em;
}

#post-info,
#post-comments {
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #000000;
  background-color: #dddddd;
}

#post-info-title,
#post-comments-title {
  background-color: #364b59;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}